body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(208, 236, 218);
  background-image: image('FOTOBG.jpg');
}
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#pengalaman-kerja {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(208, 236, 218);
}

#keahlian {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(208, 236, 218);
}

section {
  padding-top: 5rem;
}
